{{ define "main" }}
 <section class="section">
    <div class="container is-small">
      <div class="columns">
        <div class="column is-two-thirds">
          <h3 class="is-size-3 has-text-centered">{{ .Title }}</h3>
        </div>
      </div>
      <div class="columns">
        <div class="column is-two-thirds">
          <img src="{{ .Params.Image}}">

          <p>{{ .Content }}</p>
        </div>
        <div class="column is-one-third">
          <h3 class="is-size-3 has-text-centered"></h3>
          <div class="contacts">
            <p class="has-text-weight-bold">{{ i18n "meetingInfo" }}<p>
            <p><span class="has-text-weight-bold">{{ i18n "where" }}</span> {{ .Site.Params.Club.Location }}</p>
            <p>{{ .Site.Params.Club.AddressLine1 }}</p>
            <p>{{ .Site.Params.Club.AddressLine2 }}, {{ .Site.Params.Club.Country }}</p>
            <p><span class="has-text-weight-bold">{{ i18n "when" }}</span> {{ .Site.Params.Club.MeetingTime }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
{{ end }}
