{{ define "main" }}
 <section class="section">
    <div class="container is-small">
      <div class="columns">
        <div class="column is-two-thirds">
          <h3 class="is-size-3 has-text-centered">{{ .Title }}</h3>
        </div>
      </div>
      <div class="columns">
        <div class="column is-two-thirds">
          <img src="{{ .Params.Image}}">
          <div class="content">
            <p>{{ .Content }}</p>
          </div>
        </div>
          <div>
            <div class="contacts">
              <p class="has-text-weight-bold">Тук ще има малко информация по кой проект е тази новина</p>
              <p>Тук ще пише по коя алинея на Ротари е съответния проект, може би ще пише от кога го правим и как тази конкретна новина е просто една поредна стъпка от прогреса ни по проекта.</p>
              <p>Това още не е преведено :)</p>
            </div>
            <div class="content">
              <p class="title is-4 has-blue-text">Подобни новини</p>
              <p class="has-text-weight-bold">Тук ще има хронологичен списък на последните Х новини, които имат нещо общо с тази новина.</p>
              <p>Свързани новини може би биха били:</p>
              <ul>
                <li>новини по един и същи проект</li>
                <li>новини по един и съща алинея</li>
                <li>новини с едни и същи тагове</li>
              </ul>
              <p>Това още не е преведено :)</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{{ end }}
