<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="{{ .Params.Image}}" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">

      <div class="media-content">
        <p class="title is-4 has-blue-text">{{ .Title }}</p>
      </div>
    </div>

    <div class="content">
      <p>{{ .Summary }} (<a href="{{ .Permalink | relURL }}">{{ i18n "more" }}...</a>)</p>
      <time datetime="2016-1-1">{{ .PublishDate.Format "January 2, 2006" }}</time>
    </div>
  </div>
</div>
